@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

$font-stack: 'Nunito Sans', sans-serif;
$bg: #edeaf5;
$bg-form: #B3A5D4;
$dText: #1d1c2f;
$lText: #D8D7DB;

$b: #242F3D;
$a: #17212B;

$c:#2B5278;
$d:#182533;


.formsWrapper {
  background-color: $bg;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-stack;

  .formsContainer {
    background-color: $bg-form;
    border-radius: 20px;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);


    .formLogo {
      font-size: 30px;
      font-weight: bold;
      color: $dText;
    }

    .formPageTitle {
      color: $dText;
      font-weight: inherit;
      font-size: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;

      input {
        padding: 8px;
        border: none;
        border-radius: 10px;
        width: 250px;
        color: $dText;
        font-size: 15px;

        &:focus {
          outline: 1px solid #64626c;
        }
      }

      button {
        background-color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        width: 120px;
        height: 30px;
        color: $dText;
        font-weight: 600;
        font-size: 15px;

        &:hover {
          background-color: #6c93ea;
        }
      }
    }

    .bottomText {
      color: $dText;
      font-weight: inherit;
      font-size: 15px;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: #3a229a;
      }
    }

  }

  .chatsPage {

    width: 75%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    .userImg {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .sideBar {
      background-color: $b;
      flex: 1.5;
      color: $lText;
      font-weight: inherit;
      font-size: 20px;
      border-right: 1px solid $dText;
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: 300px;


      .sideBarHeader {
        background-color: $a;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;

        .logo {
          margin-left: 10px;
          font-size: 30px;
          font-weight: bold;
        }

        .userInf {
          margin: 0 10px 0 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .searchUser {
        background-color: $a;
        border: none;
        outline: none;
        border-radius: 10px;
        color: $lText;
        font-weight: inherit;
        font-size: 20px;
        padding: 5px;
        margin: auto 10px 10px 10px;
      }

      .userBlock {
        padding: 10px;
        display: flex;
        cursor: pointer;
        border-radius: 15px;

        &:hover {
          background-color: $a;
        }

        .info {

          margin-left: 15px;
          font-size: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;


          span {
            font-size: 14px;
          }
        }
      }

    }

    .chats {
      flex: 4;
      background-color: #0E1621;
      position: relative;
      display: flex;
      flex-direction: column;

      .chatInfo {

        background-color: $b;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 76px;
        padding: 0 10px;

        .userInfo {
          color: $lText;
          font-weight: inherit;
          font-size: 20px;
          display: flex;
          align-items: center;
          margin: 10px;

          span {
            margin-left: 15px;
          }
        }
      }

      .inputBlock {
        padding: 0 10px;
        margin-top: auto;
        background-color: $b;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .inputContainer {
          flex: 1;
          display: flex;

          input {
            background: transparent;
            border: none;
            outline: none;
            width: 100%;
            margin: 5px 5px;
            color: $lText;
            font-weight: inherit;
            font-size: 16px;
            border-bottom: 1px solid $dText;
          }
        }
      }

      .messages {
        overflow-y: auto;
        display: flex;
        flex-direction: column;


        .message {
          display: flex;
          margin-top: 10px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            margin: 0 15px ;
            color: $lText;
          }

          .photo {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;

          }

          .message-right {
            position: relative;
            margin-bottom: 10px;
            margin-right: 15px;
            margin-left: auto;
            padding: 10px;
            background-color: $d;
            width: max-content;
            max-width: 400px;
            height: auto;
            text-align: left;
            border: 1px solid #516260;
            border-radius: 10px;
            overflow-wrap: break-word;
            color: $lText;

          }

          .message-left {
            position: relative;
            margin-left: 15px;
            margin-bottom: 10px;
            padding: 10px;
            background-color: $c;
            width: max-content;
            max-width: 400px;
            height: auto;
            text-align: left;
            border: 1px solid #97C6E3;
            border-radius: 10px;
            overflow-wrap: break-word;
            color: $lText;

          }

          .message-content {
            padding: 0;
            margin: 0;
          }

          .message-timestamp-left {
            position: absolute;
            font-size: .85em;
            font-weight: 300;
            bottom: 5px;
            left: 5px;
          }

          .message-left:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 15px solid $c;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            top: 0;
            left: -15px;
          }

          .message-left:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 17px solid #97C6E3;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            top: -1px;
            left: -17px;

          }


          .message-timestamp-right {
            position: absolute;
            font-size: .85em;
            font-weight: 300;
            bottom: 5px;
            right: 5px;

          }

          .message-right:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 15px solid $d;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            bottom: 0;
            right: -15px;
          }

          .message-right:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 17px solid #516260;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            bottom: -1px;
            right: -17px;
          }

        }

      }

    }
  }

  .primaryButton {
    border: none;
    background-color: #8066E5;
    font-weight: inherit;
    font-size: 16px;
    color: $lText;
    border-radius: 10px;
    width: auto;
    padding: 3px;
    cursor: pointer;
    margin: 5px;

    &:hover {
      background: #5f4a9a;;
    }

  }
}